confection
docker
numpy
cerberus
text2term==4.2.0
pandas
pendulum
pytest
pyunpack
PyYAML
rdflib
requests
requests_file
validators
psycopg2-binary
sqlalchemy
mapeathor
morph-kgc
patool
xlrd
beautifulsoup4